<% provide(:title, "About") %>
<h1>About</h1>
  <p>
    InnoMix is a web app to facilitate one-on-one networking sessions to foster stronger connections.
  </p>
  <p>
    The basic framework for this application was made using the <a href="http://www.railstutorial.org/"><em>Ruby on Rails Tutorial: Learn Web Development with Rails</em></a> by <a href="http://www.michaelhartl.com/">Michael Hartl</a>.
  </p>