<footer class="footer">
  <small>
    Brought to you by <a href="http://www.itmat.upenn.edu/"> ITMAT and ITMAT<i>Ed</i></a> <%= link_to image_tag("ITMAT-FinalPNG.png", alt: "ITMATEd logo"),
'http://www.itmat.upenn.edu/itmat/education.html' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.itmat.upenn.edu/itmat/newsandevents/">ITMAT<i>Ed</i> News</a></li>
    </ul>
  </nav>
</footer>